    /***********************************************************/
   /***********************************************************/
  /******************* | Feuilles De Style  | ****************/
 /***********************************************************/
/***********************************************************/


  /*******************************************************/
 /******************* | Menu Hamburger | ****************/
/*******************************************************/
nav{
    margin-left: 0;
    padding-left: 0;

}

#menuHamburger, #menuNavigation {
    display:inline;
}

#menuNavigation{
    position: fixed;
    background-color:white;
    display: inline-block;
    width: 100%;
    margin: 0;
}


  /***********************/
 /*** | les onglets | ***/
/***********************/
#listeOnglets{
    display:flex;
    justify-content: space-around;
}

.onglet{
    display: inline-block;
    padding:0.8vw;
    margin:0;
}

.onglet:before{
    content:'';
    display:inline-block;
    vertical-align: middle;
}

.ongletDeroulant{
    padding-top:0.8vw;
    margin:0;
    margin:0;
}

.titreOnglet{
  font-size: 1.3em;
    padding-top:0.8vw;
    color:#97BEC5;
    font-weight:bold;
    text-align: center;
}

.titreOnglet:hover{
    color: orange;
    border-bottom: solid 2px orange;
}

  /**********************/
 /*** | les listes | ***/
/**********************/
li{
    list-style-type: none;
    color:#97BEC5;
}

.liste{
    display:none;
    background-color:white;
    padding-top:0.8vw;
    margin:0;
}

.liste:hover{
    display: inline-block;
}

.listeDeroulante{
    text-align: left;
    display: inline-block;
    padding:0;
    margin:0;
    position : fixed;
}

.listeDeroulante:hover > .liste{
    display:block;
}

.liensListeDeroulante{
    color: #97BEC5;
}

.liensListeDeroulante:hover{
    color: rgba(231, 141, 24, 0.548);
    border-bottom: solid 2px rgba(231, 141, 24, 0.548) ;
}

  /*******************************/
 /*** | le bouton Hamburger | ***/
/*******************************/
#boutonHamburger{
    display:none;       /**non apparent, il ne s'affichera qu'en cas de réduction de l'écran(mediaQuerry).**/
    cursor: pointer;
    color:#97BEC5;
    background:none;
    border:none;
    font-size:1.5em;
    padding: 0;
    vertical-align: top;
    line-height: 45px;
    float: right;
    margin-left: 0;
    margin-right: 2vw;
}

  /**************************/
 /*** | le menu masqué | ***/
/**************************/
#hamburgerOverlay{
    display:none;         /**non apparent, ceci ne s'affichera qu'en cas de réduction de l'écran(mediaQuerry).**/
    position:fixed;      /*présent malgré le scroll*/
    z-index:10;         /*mise en avant sur la page*/
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, .4);
}

  /***********************/
 /*** | la side bar | ***/
/***********************/
#sidebarHamburger{
    display:none;          /**non apparent, ceci ne s'affichera qu'en cas de réduction de l'écran(mediaQuerry).**/
    position:fixed;       /*présent malgré le scroll*/
    z-index:20;          /*mise en avant sur la page*/
    width:80%;
    height:100%;
    top:0;
    left:0;
    background-color:white;
    transform:translateX(-100%);         /**Ce procédé permet de déplacer la sidebar entièrement, vers la gauche de la page**/
    transition: transform .2s ease-out; /**gère la vitesse de la transition**/
}

#sidebarHamburgerHeader{
    background:url(../Img/wallpaperHamburger.jpg)center;
    background-size:cover;
    height:24.5vw;
}

#sidebarHamburgerBody{
    padding:16px 8px;
}

#boutonHamburger, #sidebarHamburger, .hamburgerActivated #hamburgerOverlay{
    display:inline-block;
}

                          /*************************/
                         /*** | MediaQuerries | ***/
                        /*************************/

   /*******************/
  /*** | Mobiles | ***/
 /*******************/
/*Galaxy S5*/ /*iPhone5/SE*/ /*iPhone 6/7/8*/ /*iPhone X*/
@media only screen and (max-width: 400px)
{     
      /*****************************/
     /*** | le menu hamburger | ***/
    /*****************************/
    #menuNavigation{
        display:none;
    }    
    
    .hamburgerActivated #sidebarHamburger{
        transform: translateX(0);
    }
    
    #listeOnglets{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        margin:0;
        padding: 0;
    }
    
    #sidebarHamburgerHeader{
        margin-bottom:0;
        padding-bottom: 0;
    }

    #sidebarHamburgerBody{
        background-color:white;
        margin:0;
        padding: 0;
    }
    
    .onglet{
        margin:2vw;
        font-size: 1.3em;
        padding:2vw;
        align-content:center;
        align-items:center;
        justify-content: center;
        text-align: center;
    }

    .titreOnglet{
        display: block;
        justify-content: flex-start;
        align-content:center;
        align-items:center;
        padding: 0;
        margin: 0;
    }
    
    .titreOnglet:hover{
        border-bottom:none;
    }

    .ongletDeroulant{
        display: block;
        font-size: 1.3em;
        padding-top:2vw;
        padding-bottom:2vw;
        align-content:center;
        align-items:center;
        justify-content: center;
        text-align: center;
    }

    #listeOnglets :last-child{
        text-align: left;
    } 

    .listeDeroulante{
        align-content:center;
        align-items:center;
        justify-content: center;
        text-align: center;
        margin-top:5vw;
    }

    #sidebarHamburgerBody li:hover{
        background-color:#E8ED99;
    }
}

  /*************************************************************************/
 /*************************************************************************/
/*************************************************************************/
   
   /*******************/
  /*** | Mobiles | ***/
 /*******************/
 /*Pixel2*/ /*iPhone 6/7/8 Plus*/
@media only screen and (min-width: 401px) and (max-width: 701px) 
{
      /*****************************/
     /*** | le menu hamburger | ***/
    /*****************************/
    .hamburgerActivated #sidebarHamburger{
        transform: translateX(0);
    }
    
    #listeOnglets{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        margin:0;
        padding: 0;
    }
    
    #sidebarHamburgerHeader{
        margin-bottom:0;
        padding-bottom: 0;
    }

    #sidebarHamburgerBody{
        background-color:white;
        margin:0;
        padding: 0;
    }
   
    .onglet{
        margin:2vw;
        font-size: 1.5em;
        padding-bottom:2vw;
        align-content:center;
        align-items:center;
        justify-content: center;
        text-align: center;
    }
    
    #listeOnglets :first-child, :nth-child(2), :nth-child(3), :last-child{
        text-align: left;
    }

    .listeDeroulante{
        align-content:center;
        align-items:center;
        justify-content: center;
        text-align: center;
    }

    #sidebarHamburgerBody li:hover{
        background-color:#E8ED99;
    }
}

  /*************************************************************************/
 /*************************************************************************/
/*************************************************************************/
   
   /*********************/
  /*** | Tablettes | ***/
 /*********************/
/*iPad*/   /*iPad Pro*/
@media only screen and (min-width: 701px) and (max-width: 1024px) 
{
      /*****************************/
     /*** | le menu hamburger | ***/
    /*****************************/
    #menuNavigation{
        display:none;
    }    
    
    .hamburgerActivated #sidebarHamburger{
        transform: translateX(0);
    }
    
    #listeOnglets{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        margin:0;
        padding: 0;
    }  
    
    #listeOnglets :last-child{
        text-align: left;
    }

    #sidebarHamburgerHeader{
        margin-bottom:0;
        padding-bottom: 0;
    }

    #sidebarHamburgerBody{
        background-color:white;
        margin:0;
        padding: 0;
    }
    
    .onglet{
        margin:2vw;
        font-size: 2em;
        padding-top:2vw;
        padding-bottom:2vw;
    }
    
    .titreOnglet{
        display: flex;
        justify-content: flex-start;
        align-content:center;
        align-items:center;
    }

    .titreOnglet:hover{
        border-bottom:none;
    }

    .ongletDeroulant{
        height: auto;
        width: auto;
        font-size: 1.3em;
        padding-top:2vw;
        padding-bottom:2vw;
        align-content:center;
        align-items:center;
        justify-content: center;
        text-align: center;
    }
    
    .listeDeroulante{
        align-content:center;
        align-items:center;
        justify-content: center;
    }
    
    #sidebarHamburgerBody li:hover{
        background-color:#E8ED99;
    }

}

  /*************************************************************************/
 /*************************************************************************/
/*************************************************************************/