{% extends "base.html.twig" %}


{% block title %}Les Apprenants{% endblock %}

{% block body %}
<div class="center-link">
    <a class="effect" href="{{path('create_learner')}}">Ajouter un apprenant</a>
</div>
<div class="vertical-space"></div>
<div class="block">
    {% for learner in learners %}
    <a href="{{path('show_one_learner',{'id' : learner.id})}}">
        <div class="show_elements" {% if learner.gender %}id="boy"{% else %}id="girl"{% endif %}>
            <div class="element">{{learner.firstname}}</div>
        </div>
    </a>
        {% endfor %}
</div>
{% endblock %}