<header>
    <div id="bigTitle">
        <a href="{{path('home')}} ">HomeSchooling</a>
    </div>
    <nav>
        <ul>
            <div></div>
            <div></div>
            <div></div>
        </ul>
    </nav>
</header>