<header>
    <div id="menuHamburger">
        <div id="menuNavigation">
            <nav>
                <ul id="listeOnglets">
                    <li class="onglet"><a class="titreOnglet" href="#">Onglet</a></li>
                    <li class="onglet"><a class="titreOnglet" href="#">Onglet</a></li>
                    <li class="onglet"><a class="titreOnglet" href="#">Onglet</a></li>
                    <li class="onglet">
                        <ul class="listeDeroulante ">
                            <li><a class="titreOnglet" href="#" title="">Onglet déroulant</a></li>
                            <li class="liste"><a class="liensListeDeroulante" href="#" title="">Sous-Onglet</a></li>
                            <li class="liste"><a class="liensListeDeroulante" href="#" title="">Sous-Onglet</a></li>
                            <li class="liste"><a class="liensListeDeroulante" href="#" title="">Sous-Onglet</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <button id="boutonHamburger">&#9776;</button>
        <div id="sidebarHamburger">
            <div id="sidebarHamburgerHeader"></div>
            <div id="sidebarHamburgerBody"></div>
        </div>
        <div id="hamburgerOverlay"></div>
    </div>
</header>
<section>